body {
    font-family: Helvetica, Arial, sans-serif;
}

#view-highscores {
    display: inline;
    color: #0059a6;
    background-color: white;
}

.time,
#seconds {
    float: right;
}

.container {
    margin: auto;
    width: 40%;
}

/* Custom modifications for h1  */
h1 {
    text-align: center;
    padding-top: 50px;
}

/* Custom modifications for h2  */
h2 {
    padding-top: 50px;
}

/* Custom modifications for paragraph */
p {
    line-height: 1.6;
    
}

/* Custom modifications for buttons */
button {
    padding: 10px;
    background-color: #0059a6;
    color: white;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    margin-bottom: 2px;
    display: list-item;
}

/* Custom modifications for start quiz button */
#start-quiz {
    margin: 0 auto;
    display: block;
}

/* Buttons hover customization */
button:hover {
    opacity: 0.6;
}